@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


.claim-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.claim-back-button {
  height: 30px;
  width: 20%;
  border-radius: 10px;
  background-color: rgba(71, 68, 68, 0.35);
  margin-top: 10px;
  margin-left: 7px;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.claim-back-link {
  color: gray;
  font-size: 12px;
  line-height: 40px;
  text-decoration: none;
}

.claim-center-text {
  width: 86%;
  height: 15px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 50px;
  font-size: 10px;
  color: rgb(190, 190, 186);
}

.claim-center-text2 {
  width: 86%;
  font-family: "Konkhmer Sleokchher", system-ui;
  height: 15px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 38px;
  margin-top: 15px;
  color: yellow;
}

.claim-boost-components {
  width: 80%;
  /* Ширина div */
  display: flex;
  justify-content: center;
  /* Центрируем содержимое по горизонтали */
}

.claim-boost-components img {
  width: 100%;
  /* Занимает всю доступную ширину div */
  height: auto;
}

.claim-skins-heading {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin-top: 30px;
  font-size: 35px;
  width: 86%;
  text-align: center;
}
.claim-skins-heading2 {

  margin-top: 20px;
  width: 76%;
  text-align: center;
}

.claim-skins-heading3 {
  height: 50px;
  margin-top: 20px;
  width: 76%;
}
