@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poetsen+One&family=Rowdies:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.crypto-receive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.crypto-overlay {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.crypto-back-button {
  align-self: flex-start;
  margin-bottom: 20px;
}

.crypto-back-link {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.crypto-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.crypto-info {
  margin-bottom: 20px;
}

.crypto-qr-code {
  margin-bottom: 20px;
}

.crypto-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.crypto-address-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #bbb;
  font-family: "Montserrat", sans-serif;
}

.crypto-copy-button {
  width: 80%; /* Updated width */
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px;
  margin-top: 10px; /* Отступ сверху для кнопки копирования */
  display: flex;
  justify-content: center; /* Center align text horizontally */
  align-items: center; /* Center align text vertically */
}

.crypto-note {
  margin-top: 20px;
  width: 100%;
}

.crypto-note-textarea {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  /* font-family: "Montserrat", sans-serif; */
  border-radius: 4px;
  background-color: #ffffff;
  text-align: left;
  height: 100px;
  box-sizing: border-box; /* Учитываем отступы и границы внутри блока */
  display: flex;
  align-items: center;
  justify-content: center; /* Center align text horizontally */
}

.crypto-note-textarea b {
  font-weight: bold; /* Make numbers bold */
}