@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poetsen+One&family=Rowdies:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.swap-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.swap-back-button {
    height: 30px;
    width: 20%;
    border-radius: 10px;
    background-color: rgba(71, 68, 68, 0.35);
    margin-top: 10px;
    margin-left: 7px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swap-back-link {
    color: gray;
    font-size: 12px;
    line-height: 40px;
    text-decoration: none;
}

.icon-mell {
    width: 10%;
    height: auto;
    margin-right: 4px;
}

.icon-usdt {
    width: 12%;
    height: auto;
    margin-left: -2px;
}

.balance-field,
.usdt-field {
    color: rgb(255, 231, 48);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin-left: 5px;
}

.balance-field span,
.usdt-field span {

    font-family: "Montserrat", sans-serif;
}

.balance-input {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin-left: 13px;
    font-family: "Montserrat", sans-serif;
}

.balance-label {
    font-size: 15px;
    color: #bbb;
    margin-right: 15px;
}

.balance-link {
    color: rgba(55, 185, 232, 0.908);
    text-decoration: none;
}

.balance-in {
    width: 100%;
    border: 1px solid #2c2c2c;
    border-radius: 13px;
    background-color: rgba(31, 28, 34, 0.534);
    padding: 8px;
    text-align: center;
    font-size: 16px;
    color: #bbb;
}

.balance-in::placeholder {
    color: #5a5a5a;
}

.usdt-input {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Montserrat", sans-serif;
    margin-left: 13px;
}

.usdt-in {
    width: 100%;
    border: 1px solid #2c2c2c;
    border-radius: 13px;
    background-color: rgba(31, 28, 34, 0.534);
    padding: 8px;
    text-align: center;
    font-size: 16px;
    color: #bbb;
}

.usdt-in::placeholder {
    color: #5a5a5a;
}

.refresh-icon {
    width: 40px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -5px;
}

.infotext {
    margin-top: 30px;
    color: #bbb;
    width: 88%;
    font-size: 10px;
}

.area {
    display: flex;
    align-items: flex-end;
    width: 90%;

}
.toptext {
    color: rgb(226, 253, 253);
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 20px;

}
.overtext {
    margin-top: 20px;
    color: #bbb;
    width: 88%;
    font-size: 13px;
  }
  
  .overtext p {
    margin: 6px 0; /* Уменьшаем расстояние между строками по вертикали */
    display: flex;
    justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
  }
  
  .overtext p span {
    flex: 1; /* Равномерно распределяем ширину между элементами */
    text-align: left; /* Выравниваем текст слева */
  }
  
  .overtext p span:last-child {
    text-align: right; /* Выравниваем текст справа */
  }
  
  

.area-in {
    width: 100%;
    min-height: 48px; /* Высота для двух строк */
    border: 1px solid #2c2c2c;
    border-radius: 13px;
    background-color: rgba(31, 28, 34, 0.534);
    padding: 8px;
    
    color: #bbb;
    resize: none; /* Запретить изменение размера текстовой области */
    line-height: 24px; /* Высота строки */
    margin-right: 10px;
    margin-top: 20px;
    font-size: 11px; /* Пространство между текстовой областью и кнопкой */
}

.area-in::placeholder {
    color: #5a5a5a;
    margin-left: 8px;
    font-size: 11px; /* Отступ слева */
}

button {
    height: 35px;
    background-color: #eee; /* Светлосерый цвет */
    border: none;
    border-radius: 13px;
    padding: 0 15px;
    font-size: 9px;
    color: #2c2c2c;
    margin-right: 3px;
    margin-top: -12px;
}

button:disabled {
    opacity: 0.5; /* Уменьшить прозрачность кнопки, если она отключена */
}
