.double-boost-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 100%;
    height: 60px;
    border-radius: 15px;
    background-color: rgba(51, 56, 64, 0.5);
    padding: 0 6px;
    margin-bottom: 10px; 
    margin-top: 10px; 
  }
  
.double-boost-info {
    color: rgb(255, 102, 0);
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  
.double-boost-info p {
    margin: 5px 0;
  }
  
  .double-bot-price {
    color: white;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
  }

  .double-small-image {
    display: inline-block;
    vertical-align: middle;

    margin-top: -2px;
    width: 12%; 
  }
