@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Braah+One&family=Konkhmer+Sleokchher&family=Ramabhadra&display=swap");
.win1-skin-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    text-decoration: none;
    height: 90px;
    border-radius: 15px;
    background-color: rgba(56, 51, 51, 0.5);
    padding: 0 5%;
    margin-bottom: 10px;
    margin-top: 10px;

  }
  
  .win1-skin-info {
    color: rgb(153, 155, 153);
    font-size: 14px;
    margin-bottom: 0;
    text-align: center; /* Центрируем текст */
  }
  
  .win1-small-image {
    width: 16%; /* Установка ширины на 25% */
    height: auto;
    margin-right: 5px;
    
  }
  
  .win1-skin-price {
    color: rgb(214, 166, 56);
    font-size: 25px;
    font-family: "Konkhmer Sleokchher", system-ui;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Выравнивание содержимого по правому краю */
    text-align: right; /* Удаляем, так как не требуется */
  }
  .win1-skin-info p{
    margin: 3px;
  } 

  .win1-skin-image {
    width: 17%;
    height: auto;

  } 