.claim-bar {
    width: 100%; /* Ширина контейнера прогрессбара */
    height: 10px; /* Высота прогрессбара */
    background-color: #f0f0f000; /* Цвет фона контейнера прогрессбара */
    border-radius: 5px;
    border: 1px solid rgba(10, 216, 239, 0.889); /* Закругление углов контейнера прогрессбара */
    margin-top: 10px; /* Отступ сверху контейнера прогрессбара */
  }
  
  .progress {
    height: 10px; /* Прогрессбар заполняет всю высоту контейнера */
    background-color: #174164; /* Цвет прогресса */
    border-radius: 5px; /* Закругление углов прогресса */
  }
  