body {
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  -webkit-touch-callout: none;
  /* Запрет выделения при долгом нажатии на мобильных устройствах */
  -webkit-user-select: none;
  /* Запрет выбора текста на веб-сайте */
  -khtml-user-select: none;
  /* Запрет выбора текста на веб-сайте */
  -moz-user-select: none;
  /* Запрет выбора текста на веб-сайте */
  -ms-user-select: none;
  /* Запрет выбора текста на веб-сайте */
  user-select: none;
  margin: 0; /* Устанавливаем марджин на 0 */
  padding: 0;
}

#root {
  margin: 0; /* Устанавливаем марджин на 0 */
}